body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000202;
  color: aliceblue;
}


/* ------------------------------------------------------INDEX PAGE------------------------------------------------- */

.menubar{
  text-align: center;
  /* position: fixed; */
}

.menubar .menubar-title{
  text-align: center;
  font-family: 'Engravers MT', 'Times New Roman', sans-serif;
}

.menubar-underline{
  border: 2px groove lightgrey;
  border-radius: 10em;
  margin: 0 2em;
  
}

.home{
  text-align: center;
  border: 2px groove lightgray;
  background-image: url('./img/VNGEL-HEADER-BACKGROUND\ .jpg');
  background-position: center;
  background-size: cover;
  padding: 12em 0;
  margin: 2em 0;
}

.home-slogan{
  border-radius: 8em;
  border: 2px solid black;
  background-color: black;
  opacity: 0.7;
  margin: 0 5em;
  font-family: 'Old English Text MT',
  'Engravers MT', 
  'Times New Roman', 
  sans-serif;
}

/* -------------------------------------------------------ABOUT SECTION ------------------------------------------------- */


.about-section .about-section-block{
  /* display: flex; */
  font-family:
    'Engravers MT',
    'Times New Roman',
    sans-serif;
    text-align: center;
    font-size: 10px;
  
}

.about-section .about-section-desc{
  margin: 5em 0em;
  display: flex;
  grid-template-columns: repeat(2, 1fr);
  border: 2px solid lightgrey;
  border-radius: 8em;
  text-align: center;
  background-image: url('./img/Infra_red_background.jpg');
  background-position: center;
  background-size: 80%;
}

.about-section .about-info{
  text-align: center;
  margin-top: 10em;
  font-family: 'Old English Text MT',
    'Engravers MT',
    'Times New Roman',
    sans-serif; 
}

.about-section .about-info p{
  background-color: #000202;
  padding: 1em;
  opacity: 0.6;
  border-radius: 6em;
}

.about-section .about-section-desc .about-logo{
  width: 400px;
  height: 400px;
}

.about-section .about-section-desc .about-logo:hover{
  width: 420px;
  height: 410px;
  transition: all 2s ease;
}

/* ------------------------------------------------------PROJECTS---------------------------------------------------- */

.sub-heading{
  text-align: center;
  font-family:
    'Engravers MT',
    'Times New Roman',
    sans-serif;
}

.project-img{
  width: 300px;
  height: 300px;
}

.project-div{
  text-align: center;
  justify-content: center;
}

.projects {
  margin: 5em 0em;
  display: grid;
  grid-template-columns: repeat(2, 0.2fr);
  gap: 0.5em;
  text-align:center;
  justify-content: center;
  
}

.project-logos{
  width: 250px;
  height: 250px;
  border-radius: 4em;
  border: 2px groove lightgray;
  text-align: center;
  background-color: #000202;
}

.project-logos:hover{
  cursor: pointer;
  width: 265px;
  height: 270px;
  transition: all 1s ease;
  opacity: 0.6;
}

#project1{
  background-image: url('./img/Projects/Nocturnal_logo.png');
  background-position: center;
  background-size: cover;
}

#project2{
  background-image: url('./img/Projects/Vngelhill_logo.png');
  background-position: center;
  background-size: cover;
}

/* ------------------------------------------------CLOTHING SECTION--------------------------------------------- */

.clothing-section{
  border-top: 2px solid lightgrey;
  border-bottom: 2px solid lightgrey;
  margin: 2em 1em;
  padding: 2em 0;
  border-radius: 2em;
}

.clothing-div{
  display: grid;
  grid-template-columns: repeat(3, 0.2fr);
  gap: 2em;
  justify-content: center;
}

.clothing-buttons{
  background-color:darkgrey;
  text-align: center;
  border-radius: 6em;
  font-family: 'Engravers MT',
    'Times New Roman',
    sans-serif;
  padding: 1em;
  border: 2px groove black;
}

.clothing-buttons:hover{
  background-image: url('./img/Projects/Goth_Vngel_Logo.png');
  background-position: center;
  background-size: cover;
  opacity: 0.7;
  background-color: transparent;
  color: crimson;
  transition: all 2s ease;
  font-weight: bolder;
  cursor: pointer;
}

/* -----------------------------------------------------FOOTER-------------------------------------------------- */

.footer{
  border: 2px groove lightgrey;
  border-radius: 5em;
  text-align: right;
  padding-right: 2em;
}